
@{
    ViewBag.Title = "MirandaRights";
}
<h1 style="margin-top: 50px;" >Miranda Rights</h1>
<div class="row">
    <div class="col-xs-12">
        <p><i>You have the right to remain silent. Anything you say can and will be used against you
            in a court of law. You have the right to an attorney. If you cannot afford an attorney, one will
            be appointed to you by the state if available at this current time. Do you understand the rights i have just read to you?</i></p>
    </div>
</div>

