
@{
    ViewBag.Title = "TenCodes";
}

<h1 style="margin-top: 50px;">10 Codes</h1>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>10-1 Unable to Copy</li>
            <li>10-2 Solid Copy</li>
            <li>10-3 Stop Transmitting(STFU)</li>
            <li>10-4 Acknowledgement</li>
            <li>10-6 Busy</li>
            <li>10-7 Out of service (Going Offline or AFK)</li>
            <li>10-8 Online (Back from AFK or Getting online)</li>
            <li>10-9 Please Repeat</li>
            <li>10-12 Stop or Stand by</li>
            <li>10-20 Location</li>
            <li>10-22 Disregard or ignore</li>
            <li>10-23 Arrived on scene</li>
            <li>10-24 Assignment Completed</li>
            <li>10-28 Vehicle Registration Info</li>
            <li>10-29 Check for warrants</li>
            <li>10-31 Crime for Warrents</li>
            <li>10-32 Armed Suspect</li>
            <li>10-33 Emergency</li>
            <li>10-36 Armed Traffic stop</li>
            <li>10-38 Stopping Vehicle (Traffic Stop)</li>
            <li>10-39 Urgent (use lights and siren)</li>
            <li>10-40 Silent (no lights no siren)</li>
            <li>10-50 Traffic Accident</li>
            <li>10-74 Negative or No</li>
            <li>10-76 En route or Responding</li>
            <li>10-77 ETA</li>
            <li>10-78 Need Assistance</li>
            <li>10-80 Traffic Pursuit</li>
            <li>10-99 Wanted Suspect</li>
        </ul>
    </div>
</div>

